<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Karla Burgos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col>
      <ion-avatar>
        <img
          src="https://biopantry.com/themes/dor_organick3/assets/img/dorado/avatar_user.jpg"
        />
      </ion-avatar>
    </ion-col>
    <ion-col>
      <ion-text class="ion-text-center" color="dark">
        <h5>12</h5>
      </ion-text>
      <ion-text color="dark">
        <h5 ion-text-center>Pedidos</h5>
      </ion-text>
    </ion-col>
    <ion-col>
      <ion-text class="ion-text-center" color="dark">
        <h5>25</h5>
      </ion-text>
      <ion-text color="dark">
        <h5 ion-text-center>Pedidos</h5>
      </ion-text>
    </ion-col>
    <ion-col>
      <ion-text class="ion-text-center" color="dark">
        <h5>32</h5>
      </ion-text>
      <ion-text color="dark">
        <h5 ion-text-center>Pedidos</h5>
      </ion-text>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button expand="block">Editar Perfil</ion-button>
    </ion-col>

  </ion-row>
</ion-content>
